################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookChain/.vs/BookChain
/BookChain/BookChain/bin
*.bin
/BookChain/BookChainTests/obj/Debug
/BookChain/packages
*.cache
*.dll
/BookChain/BookChainTests/bin/Debug
*.pdb
