@{
    ViewBag.Title = "Welcome to CRUD";
}

<div class="jumbotron">
    <h1>Employee Home </h1>
    <p class="lead">This project is to show the basic CRUD  operations using MVC and WebAPi</p>
    <p>Following are the identified Vertical Slices</p>
    <br />
    <ol>
        <li>Create a New Employee</li>
        <li>Edit an exisiting Employee</li>
        <li>Delete an exisiting Employee</li>
        <li>Display the List of Employee</li>
    </ol>

</div>
